

/*-------------------------header----------------------------------*/

#menu_gauche {

	list-style-type: none;
	display: inline-flex;
	font-family: arial;
	font-size: 1.0625em; /*(100*17)/16=*/
	text-align: left;

}

#menu_droite {

	float: right;
	font-family: arial;
	font-size: 1.0625em; /*(100*17)/16=*/
	text-align: right;
	display: inline-flex;

}

.menu_interieur_droite {

	padding-right: 3.3%; /*(100*31)/940=*/
   
}
 
 
/*------------------------------body----------------------------*/
    

body {

	margin: 0 auto;
	background-color: #f0f0f0;
	width: 80%;
	max-width: 960px;
}


/*----------------------------titres--------------------------*/

h1 {

	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	font-size: 2.5em; /*(100*40)/16=*/

}

h2 {

	font-family: arial;
	text-decoration: underline;
	font-size: 1.5625em; /*(100*25)/16=*/

}

h3 {

	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	font-size: 0.9375em; /*(100*15)/16=*/

}

h4 {

	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	font-size: 0.75em ; /*(100*12)/16=*/

}

h5 {

	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	font-size: 0.625em; /*(100*10)/16=*/

}

h6 {

	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	font-size: 0.5em; /*(100*8)/16=*/

}

.margin-bottomTitre {

	margin-bottom: 70px;

}

.titresPrincipaux {

	width: 100%;
	margin: 0 auto;

}


/*---------------------------------------A FAIIIIIIIIIIIIRE ---------------------*/

#texteBlocIndex {

	font-family: arial;
	font-size: 0.9375em;
	font-weight: bold;
	font-style: italic;
	width: 32.12%;
	z-index: 1;
	padding: 2.12% 2.12% 5px;
	height: 28.5%;
	box-sizing: border-box;
	letter-spacing: 0.02em;
	background-color: #FFF;
	position: absolute;
	margin-bottom: -21.27%;
	overflow: auto;
	max-width: 400px;
	max-height: 200px;
	bottom: 35%;
	left: 56.5%;
	
}


footer {

	font-family: arial;
	text-align: right;
	line-height: 2.12%; /*(100*20)/940=*/
	border-top: 0.05% solid; /*(100*0.5)/940=*/
	background-color: white;
	text-align: right;
	margin: auto;
	background-color: transparent;

}


/*------------------------------liens hypertexte-------------------------*/

a {

	text-decoration: none;

}

a:link {

	text-decoration: none;
	color: black;

}



a:visited {

	text-decoration: none;
	color: black;

}


a:hover {

	color: #787878;
	text-decoration: none;

}


.unsplash {

	color: black;

}

.emplacementdansweb { /*---A FAIRE---*/

	border-bottom: solid 0.1px;
	margin-bottom: 20px;

}

html {

	margin: auto;
	width: 102.12%; /*(100*960)/940=*/

}


/*----------------------------------portfolio------------------------*/

#div_centrale {

	width: 940px; /*(100*31)/940=*/
	box-sizing: border-box;

}

/*---------------------------------formulaire----------------------*/

#formulaireBloc {

	width: 57.4%; /*(100*540)/940=*/
	margin-right:auto;
	margin-left: 17%; /*(100*160)/940=*/

}

#madamemonsieur {

	text-align: left;
	font-family: arial;
	font-weight: bold;
	font-size: 0.9375em; /*(100*15)/16=*/
	margin-bottom: 1.91%; /*(100*18)/940=*/
	
}

.categorie{

	text-align: right;
	font-family: arial;
	font-weight: bold;
	font-size: 1.125em; /*(100*18)/16=*/
	margin-bottom: 1.91%; /*(100*18)/940=*/

}

.labelInput{

	width: 14.89%; /*(100*140)/940=*/
	text-align: right;
	margin-right: 2.12%; /*(100*20)/940=*/
	display: inline-block;

}

.labelTextarea {

	vertical-align: top;
	width: 14.9%; /*(100*140)/940=*/
	text-align: right;
	margin-right: 2.12%; /*(100*20)/940=*/
	display: inline-block;	

}

.input {

	width: 40.4%; /*(100*380)/940=*/
	box-sizing: border-box;

}

.input_div {

	width: 17%; /*(100*160)/940=*/
	text-align: right;
	margin-right: 2.12%; /*(100*20)/940=*/

}

label, input {

	display: inline-block;

}

input[type=text] {

	  display: inline-block;
	  box-sizing: border-box;
	  width: 40.4%; /*(100*380)/940=*/
  
}

textarea {

	display: inline-block;
	font-family: arial;
	font-size: 1.125em; /*(100*18)/16=*/ 
	resize: none;
	float: right;
	height: 19.1%; /*(100*180)/940=*/
	box-sizing: border-box;
	width: 40.4%; /*(100*380)/940=*/
	margin-bottom: 2.65%; /*(100*25)/940=*/
	
}

.envoyer {

	font-family: arial;
	text-decoration: underline;
	font-style: italic;
	font-size: 1.875em; /*(100*30)/16=*/
	width: 14.9%; /*(100*140)/940=*/
	margin-left: 42.55%; /*(100*400)/940=*/
	background: transparent;
	border: none;
	margin-bottom: 5.31%; /*(100*50)/940=*/

}



#madameMonsieurBloc {

	width: 40.4%; /*(100*380)/940=*/
	margin-left: 17%; /*(100*160)/940=*/
	display: inline-block;
	font-family: arial;
	font-weight: bold;
	font-size: 0.9375em; /*(100*15)/16=*/
	margin-bottom: 2.65%; /*(100*25)/940=*/

	
}

.madameMonsieur {

	text-align: left;
	display: inline-block;

}

#espace_madamemonsieur {

	margin-right: 3.72%; /*(100*35)/940=*/

}


/*--------------------------------phase 2---------------------------*/


.imgGaucheTexteDroite {

	width: 100%; /*(100*940)/940=*/
	display: inline-box;
	box-sizing: border-box;
	height: 42.55%; /*(100*400)/940=*/
	margin-bottom: 3.2%; /*(100*30)/940=*/
	
}

.imgGauche {

	width: 65.95%; /*(100*620)/940=*/
	box-sizing: border-box;

}

.texteDroite {

	width: 31.9%; /*(100*300)/940=*/
	box-sizing: border-box;
	float: right;
	font-family: arial;
	font-size: 0.9375em; /*(100*15)/16=*/
	font-weight: bold;
	
}

.imgDroiteTexteGauche {

	width: 100%; /*(100*940)/940=*/
	display: inline-box;
	box-sizing: border-box;
	margin-bottom: 2.12%; /*(100*20)/940=*/
	height: 42.5%; /*(100*400)/940=*/
	margin-bottom: 3.2%; /*(100*30)/940=*/
}

.imgDroite {

	width: 65.95%; /*(100*620)/940=*/
	box-sizing: border-box;
	float: right;

}

.texteGauche {

	width: 31.92%; /*(100*300)/940=*/
	box-sizing: border-box;
	margin-right: 2.12%; /*(100*20)/940=*/
	font-family: arial;
	font-size: 0.9375em; /*(100*15)/16=*/ 
	font-weight: bold;
	text-align: right;

}

.blocCentral {

	margin: 0 auto;
	width: 100%;	

}

#imageIndex {

	width: 80%;
	max-width: 960px;
	min-width: 40px;


}

header {

	width: 100%;
	margin: 0px auto;

}

@media screen and (max-width: 680px) {
	
	#texteBlocIndex {
	
	font-size: 0.9375em;
	font-weight: bold;
	font-style: italic;
	width: 80%;
	display: inline-block;
	right: 50%;
	max-width: 80%;
	left: 11%;
	top: 90%;
	margin-top: 10%;
	
}
	
	#imageIndex {
	
		width: 100%;
		max-width: 960px;
		min-width: 40px;
		margin: 0 auto;
		
	}
	
	footer {
	
	background-color: transparent;
    font-family: arial;
    line-height: 2.12%;
    margin: 0 auto;
    position: absolute;
    text-align: right;
    top: 130%;
	
	}
	
	
	
}